# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
venv/
env/
.venv/
.env/

# Cache do modelo YOLOv5 (baixado automaticamente)
~/.cache/torch/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
